# Local Terraform state
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

# Terraform crash logs
crash.log

# Ignore any Terraform variables containing sensitive values
*.auto.tfvars
*.auto.tfvars.json
secret.tfvars
terraform.tfvars

# Ignore Terraform execution files
.terraform/
.terraform.lock.hcl

# Ignore Terraform plan files
terraform.plan
